.addTroop {
  border: 2px solid black;
  padding: 2vh;
  width: 60%;
  margin-top: 2vh;
  margin: 0 auto;
}

.initialInput {
  background-color: lightgreen;
}

.individualStats {
  display: block;
  margin-left: 7%;
  margin-bottom: 5%;
  font-size: xx-small;
  font-style: italic;
}

output span {
  display: inline-block;
}

input[name=amount] {
  width: 50%;
}
