body {
  background-color: antiquewhite;
}

.page {
  padding: 1.5vw;
}

.nav-bar {
  background-color: darkturquoise;
  position: relative;
  top: 0;
  padding: 0;
  margin: 0;
  height: 6vh;
}

.nav-bar a {
  text-decoration: none;
}

.nav-bar ul {
  margin: 0;
}

.nav-bar li {
  display: inline-block;
  padding: 1%;
}
