.pact-form {
  margin-bottom: 1.5vh;
}

.kingdoms-found {
  font-weight: bold;
}

.raw-data {
  width: 50vw;
  height: 20vh;
}

button {
  display: block;
}

.success {
  color: green;
}

.hidden {
  visibility: hidden;
}
